#!/bin/bash
if [ "$PAM_TYPE" != "open_session" ]
then
  exit 0
else

  LOG_FILE="/var/log/ansible-ssh-login-notification.log"
  {% if ssh_login_notifications_slack_app_oauth is defined  %}
    python3 /var/lib/ssh-login-audit/ssh-login-audit.py --ts_threshold={{ ssh_login_notifications_slack_threshold }} --token={{ ssh_login_notifications_slack_app_oauth }} --channel={{ ssh_login_notifications_slack_app_channel }} --ip=$PAM_RHOST --logfile=$LOG_FILE
  {% elif ssh_login_notifications_auditapp_keys is defined  %}
	python3 /var/lib/ssh-login-audit/ssh-login-audit-app.py --ts_threshold={{ ssh_login_notifications_slack_threshold }} --reporting_key={{ ssh_login_notifications_auditapp_report_key }} --endpoint={{ ssh_login_notifications_auditapp_endpoint }} --keys="{{ ssh_login_notifications_auditapp_keys|join(',') }}" --channel="{{ ssh_login_notifications_slack_app_channel|join(',') }}" --ip=$PAM_RHOST --logfile=$LOG_FILE
  {% else %}
	  {% if ssh_login_notifications_slack_only_unique is defined and ssh_login_notifications_slack_only_unique == true %}
	  WORD=$PAM_RHOST
	  if [[ "$WORD" =~ $(echo ^\($(paste -sd'|' $LOG_FILE)\)$) ]]; then
		  echo "$WORD is already on the list, no need to notify anyone"
	  else
	  {% endif %}
		URL={{ ssh_login_notifications_slack_webhook }}
		TEXT=$(echo -e "$PAM_SERVICE login on `hostname -s` for account *$PAM_USER* ($PAM_TTY)\n" | python -c "import json,sys;print(json.dumps(sys.stdin.read()))")
		PAYLOAD="{
		  \"attachments\": [
			{
			  \"text\": $TEXT,
			  \"color\": \"danger\",
			  \"mrkdwn_in\": [\"text\"],
			  \"fields\": [
				{ \"title\": \"Date\", \"value\": \"`date`\", \"short\": true },
				{ \"title\": \"Host\", \"value\": \"$PAM_RHOST\", \"short\": true }
			  ]
			}
		  ]
		}"

		curl -s -X POST --data-urlencode "payload=$PAYLOAD" $URL
	  {% if ssh_login_notifications_slack_only_unique is defined and ssh_login_notifications_slack_only_unique == true %}
		echo "$WORD" >> $LOG_FILE
	  fi
	  {% endif %}
  {% endif %}

fi
exit 0
